.c-uploader__droparea {
  min-height: 14rem;
  position: relative;
  text-align: center;
  border: .125rem dashed;
  border-radius: .3125rem;
  padding: 1.5rem;
}

.c-uploader__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-uploader__dropfield {
  display: none;
}

.c-uploader__progress {
  height: .3125rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.c-uploader__progress-bar {
  width: 0;
  height: .3125rem;
  background-color: #1dc9b7;
  transition: all 0.5s ease-in-out;
}

.c-uploader__gallery {
  display: flex;
  flex-direction: row;
  padding: 0 .3125rem;
}

.c-uploader__gallery-content {
  padding: 0 .3125rem;
}

.c-uploader__image {
  max-width: 4.75rem;
  padding: 0 .3125rem;
}

.c-uploader__image-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e4e5ec;
  justify-content: center;
}

.c-uploader--highlight {
  border-color: #fd1361;
}