.c-header {
  width: 100%;
	min-height: 60px;
	background: #fff;
	position: relative;
	z-index: 2;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.30);
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.30);
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.30);
}