$admin-blue: #2196f3 !default;
$admin-gray-1: #6c757d !default;

$gray-1: #7a7f8c !default;
$gray-2: #6c7293 !default;

$blue-1: #00a0eb !default;
$blue-2: #006cda !default;

// Alert colors
$primary: #5867dd !default;
$success: #1dc9b7 !default;
$danger: #fd397a !default;
$warning: #ffb822 !default;
$brand: #366cf3 !default;
$dark: #282a3c !default;

// Hover colors
$primary-hover: #384ad7 !default;
$success-hover: #18a899 !default;
$warning-hover: #fbaa00 !default;
$danger-hover: #fd1361 !default;
$brand-hover: #1252f1 !default;
$dark-hover: #23272b !default;

$green-1: #82ea0f !default;