.c-logo {
  position: absolute;
  display: block;
  background-color: #fff;
  z-index: 2;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
  padding: 0.9375rem;
}

.c-logo__media {
  width: 100px;
}

@media (max-width: 576px) {
  .c-logo {
    position: static;
    box-shadow: none;
  }

  .c-logo__media {
    width: 60px;
  }
}