.c-scrollup {
	color: #fff;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 9000;
	cursor: pointer;
	background-color: rgba(0,0,0,0.8);
	padding: 1.25rem 1.5625rem;
	margin: 0;

	transition: all 0.3s ease-in-out;
}