.splash {
  &-spacer {
    padding-bottom: 15.4%;

    @media screen and (max-width: 919px) {
      padding-bottom: 26%;
    }

    @media screen and (max-width: 767px) {
      padding-bottom: 45%;
    }

    @media screen and (max-width: 474px) {
      padding-bottom: 64%;
    }
  }

  &-caption {
    color: #fff;
    text-shadow: 0 1px 14px rgba(0,0,0,0.80);
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    z-index: 1;
  }
}